.animesearch-page {
  font-family: "Bebas Neue", "kanit", sans-serif;
  color: white;
}
.Search-Container {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(64, 87, 192);
  margin-bottom: 1%;
}
.Search-Container .search-form {
  width: 50%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.search-bar {
  color: white;
  margin: auto;
  display: block;
  border-radius: 20px;
  text-align: center;
  padding: 1% 5%;
  width: 50%;
  background-color: rgb(64, 87, 192);
  border: none;
  transition: 1s;
  box-shadow: 0 0 10px rgb(78, 202, 206);
}
.search-bar::placeholder {
  color: white;
}
.search-bar:focus {
  transition: 1s;
  box-shadow: 0 0 10px rgb(235, 171, 76);
  border: none;
  outline: none;
}
.search-btn {
  margin-top: 10px;
  display: block;
  margin: 1% auto 0 auto;
  border: none;
  border-radius: 5px;
  padding: 0.7% 1%;
  background-color: rgb(6, 34, 128);
  color: white;
  transition: 1s;
}
.search-btn:active {
  transition: 0.1s;
  background-color: rgb(35, 79, 136);
}
.anime-results {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}
.animesearch-page .anime {
  margin: 0 2% 1% 2%;
  border: none;
  box-shadow: 0 0 10px grey;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 0.2fr;
}
.anime-pic {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.anime-pic img {
  width: 60%;
}
.anime-details .score-episodes-type,
.synopsis {
  text-align: center;
  font-weight: bolder;
  font-size: larger;
}

.anime-details .score-episodes-type span {
  margin-left: 3%;
}
.anime-details .synopsis {
  font-weight: 500;
  font-size: larger;
}
.animesearch-page .loading {
  text-align: center;
  padding-top: 5%;
  font-size: larger;
}
.anime-details .title {
  display: flex;
  justify-content: center;
  padding: 2% 0 0 0;
}
.anime-details .title .link,
.link:hover,
.link:visited {
  color: black;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}
.anime-details .score-episodes-type {
  padding: 2% 0 0 0;
  display: flex;
  justify-content: center;
}
.anime-details .synopsis {
  padding: 5% 1% 1% 1%;
  font-weight: normal;
}
.anime-details .title > .link,
.link:visited {
  color: white;
}
.List-setting #Anime-Title {
  padding: 1% 1% 1% 1%;
  overflow: hidden;
}
