.Profile {
  color: white;
}
.Profile #card {
  width: 80%;
  margin: 3% auto 0 auto;
  border: none;
  box-shadow: 0 0 10px grey;
  border-radius: 10px;
  padding-top: 0.5%;
  padding-bottom: 1%;
  display: flex;
  overflow: hidden;
}

.Profile #pictureContainer {
  flex: 0.4;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.Profile img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 290px;
}
.Profile #ImgUrl {
  margin: 0 auto;
  width: 90%;
  display: block;
  border-radius: 3px;
}
.Profile #infoContainer {
  flex: 0.6;
  display: flex;
  flex-direction: column;
}
.Profile #usernameContainer {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  flex: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Profile #usernameContainer #username {
  flex: 0.8;
}
.Profile #editBtnContainer {
  flex: 0.2;
  display: flex;
  justify-content: center;
}
.Profile #editBtn {
  font-size: 1.1rem;
  color: white;
  background-color: rgb(107, 36, 148);
  padding: 3% 10%;
  border: none;
  border-radius: 3px;
}
.Profile #editBtn:hover {
  background-color: rgb(81, 28, 112);
  transition: 0.2s;
}
.Profile #editBtn:active {
  background-color: rgb(49, 16, 68);
  transition: 0.2s;
}
.Profile #username {
  border-radius: 5px;
  background-color: rgb(43, 101, 155);
  border: none;
  text-align: center;
  font-size: 1.4rem;
  padding: 2% 0 2% 0;
}
.Profile #info {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Profile #info div {
  font-size: 1.4rem;
  color: rgb(74, 178, 226);
  padding-left: 7%;
  padding-top: 0.5%;
  padding-bottom: 0.1%;
  font-weight: bold;
}
.Profile #info span {
  margin-left: 4%;
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
}
.Profile #Description {
  margin: 2% auto 0 auto;
  width: 80%;
}
.Profile #Description #title {
  color: rgb(212, 160, 62);
  font-size: 1.4rem;
}

.Profile #Description #bio {
  font-size: 1.2rem;
  margin-top: 1%;
}
.Profile .input {
  border: none;
  border-radius: 5px;
  margin-left: 3%;
  text-align: center;
  padding: 0.3% 0;
  color: white;
  font-size: 1.2rem;
  background-color: transparent;
  box-shadow: 0 0 4px grey;
}
.Profile #bio-input {
  margin-top: 1%;
  height: 200px;
  min-width: 25%;
  width: 50%;
  border-radius: 10px;
}
