.NotLoggedIn{
    color: white;
}

.NotLoggedIn h1{
    text-align: center;
    padding: 2% 0 2%  0;
}
.NotLoggedIn .btnContainer{
    padding: 2% 0;
    display: flex;
    justify-content: center;
}
.NotLoggedIn .btnContainer button{
    background-color: rgb(94, 103, 228);
    color: white;
    font-size: larger;
    padding: .4% 3%;
    border-radius: 5px;
}
.NotLoggedIn .btnContainer button:hover ,  button:active{
    transition: .2s;
    background-color: rgb(78, 85, 184);
}
.NotLoggedIn .btnContainer button a,a:hover{
    color: white;
    text-decoration: none;
}