/* 
        FriendPage.js
*/

#FriendPage {
  color: white;
}
#FriendPage .Button-Container {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-top: 2%;
}
#FriendPage .Button-Container button {
  border: none;
  font-size: 25px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  border-bottom: solid rgb(80, 151, 209) 1px;
}
#FriendPage .Button-Container button:hover {
  background-color: rgb(11, 59, 99);
  transition: 0.1s;
}

#FriendPage .Button-Container #friends-btn {
  margin-right: 0.1%;
  border-right: solid 0.01px rgb(80, 151, 209);
}
#FriendPage .Button-Container #users-btn {
  margin-left: 0.1%;
  border-left: solid 0.01px rgb(80, 151, 209);
}

/*          SearchFriend Page            */
#ListFriendComponent {
  color: white;
}
#ListFriendComponent .header {
  display: flex;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}
#ListFriendComponent .header #title {
}
#ListFriendComponent .header #friends-count {
  font-size: 18px;
  margin-left: 2%;
  padding: 0 0.5% 0 0.5%;
  border-radius: 5px;
  border: none;
  background-color: rgb(80, 151, 209);
}
