@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");


/* .animePic {
  border-radius: 100px;
  width: 5%;

  object-position: center;
  vertical-align: middle;
} */


.homepage {
  color: white;
  font-family: "Cabin", sans-serif;
}

#welcomePage{
 background-image: url("../static/homepage.png");
 background-repeat: no-repeat;
 background-size: cover;
 height: 90vh;
}

#welcomePage .title {
  border: solid red;
  padding-top: 5%;

}




.Dashboard .list-content {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 90%;
}
.Dashboard .title {
  padding: 0.5% 0 0.5% 1%;
  font-size: larger;
}
.Dashboard .anime-container,
.manga-container {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.Dashboard .anime-container img {
  cursor: pointer;
  width: 200px;
}
.Dashboard .anime {
  display: flex;
  justify-content: center;
}
