.navbar{
    display: flex;
    justify-content: space-between;
    height: 100px;
    color: white;
    background-color: black;
}
.logo-sitename{
    flex: .2;
    display: flex;
    align-items: center;
}
.logo{
    flex: 1;
    width: 20%;
    margin-left: 2%;
}
.logo:hover{
    cursor: pointer;
}
.sitename{
    margin-left: 3%;
    flex: 1;
    font-weight: bold;
    font-size: medium;
}
.tabs{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.tabs div:hover{
    cursor: pointer;
}
.tabs div a{
    text-decoration: none;
    color: white;
}
.tabs div a:visited{
    color: white;
}
.login-out{
    flex: .3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.login-out div {
    margin-right: 1%;
}
.login-out div a{
    text-decoration: none;

} 
.login-out div:hover{
    cursor: pointer;
}
.login-out div a:visited{
    color: white;
}
.navbar a{
    color: white;
}