.Profile{
  color: white;
}
.Profile #card{
  border: red solid;
  width: 80%;
  margin: 3% auto 0 auto;
}
.Profile #card{
  display: flex;
}
.Profile #pictureContainer{
  flex: .4;
  border: solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Profile img{
  width: 50%;
  height: 95%;
}
.Profile #infoContainer{
  border: solid red;
  flex: .6;
  display: flex;
  flex-direction: column;
}
.Profile #usernameContainer{
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  flex: .3;
}
.Profile #username{
  border-radius: 5px;
  background-color: rgb(43, 101, 155);
  border: none;
  text-align: center;
  font-size: 1.4rem;
  padding: 2% 0 2% 0;

}
.Profile #info{
  border: solid red;
  flex: .7;
}